.header{
  width: 100%;
  height: 100px;
  background-color: rgb(66, 207, 53);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 45px;
  font-size: 25px;
  position: fixed;
  top: 0;
  .header__left-box{
    text-decoration: none;
    font-family: fantasy;
  }
  .header__right-box{
    .header__right-box__name{
      text-decoration: none;
      margin-right: 25px;
    }
    .header__right-box__btn{
      text-decoration: none;
      margin: 20px;
    }
  }
} 
.main{
  height: 700px;
  margin: 120px;
  .main__heading{
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
  }
  .main__user{
    font-size: 30px;
    .main__user__list{
      margin-bottom: 40px;
      border: 2px solid;
      .main__user__list__btn{
        text-decoration: none;
      }
    }
  }
  .main__footer{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }
}