.header{
  width: 100%;
  height: 100px;
  background-color: rgb(66, 207, 53);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 45px;
  font-size: 25px;
  position: fixed;
  top: 0;
  .header__left-box{
    text-decoration: none;
    font-family: fantasy;
  }
  .header__right-box{
    .header__right-box__name{
      text-decoration: none;
      margin-right: 25px;
    }
    .header__right-box__btn{
      text-decoration: none;
      margin: 20px;
    }
  }
} 
.main{
  background-color: rgb(234, 234, 238);
  height: 700px;
  margin: 120px;
  .main__contents{
    background-color: rgb(243, 241, 241);
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border: 3px solid;
    margin-bottom: 5px;
    .main__contents__left-box{
      margin-left: 20px;
      .main__contents__left-box_image{
        margin-bottom: 8px;
        border: solid 3px;
        border-radius: 100px;
        height: 90px;
        width: 90px;
      }
      .main__contents__left-box_name{
        text-align: center;
      }
    }
    .main__contents__center-box{
      margin: 20px;
      .main__contents__center-box_check-box{
        margin-bottom: 8px;
        font-size: 30px;
      }
    }
    .main__contents__right{
      border: 1px solid;
      height: 150px;
      width: 250px;
      margin-right: 100px;

    }
  }
  .main__fotter{
    text-align: center;
    font-size: 30px;
    padding: 15px;
  }
}